<div class="copyRight">
    <div class="left-copyRight">
        <p>&copy; @DateTime.Now.Year - Power by UxDesign</p>
    </div>
    <div class="right-copyRight">
        <ul id="inner-right-copyRight">
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
            <li><i class="fa fa-yelp"></i></li>
            <li><i class="fa fa-twitter"></i></li>
        </ul>
    </div>
</div>